.cover {
  position         : relative;
  height           : 15rem;
  width            : 100%;
  background-repeat: no-repeat;
  background-size  : cover;
}

.position {
  position: absolute;
  top: 0 !important;
}

.text-border-red{
  color:#ff2424;
  -webkit-text-stroke: 0.1px;
  -webkit-text-stroke-color: rgb(211, 210, 210);
}


.text-border-gray{
  -webkit-text-stroke: 0.2px;
  -webkit-text-stroke-color: rgb(19, 18, 18);
}

// .logo{
//   height: 5em;
//   width: auto;
// }
.logo{
  display: inline-block;
  width: 50%;
  vertical-align: middle;
}

.white{
  background-color: white;
}

.mdb-scrollspy {
  display : block;
  position: fixed;
  top     : 0 !important;
  right   : 0;

  li {
    display: block;
    padding: 1rem 1rem;

    &:first-child {
      padding-top: 0.5rem;
    }

    &:last-child {
      padding-bottom: 0.5rem;
    }

    a {
      &.active {
        font-weight: bold;
      }
    }
  }
}

@media screen and (max-width: 800px) {
  .responsive{
    width: 50%;
  }
  .logo{
    height: 3em;
    width: auto;
  }
}

// .owl-carousel {
//   width: 90% !important;
//   margin: 10% auto;
// }

// .owl-nav {
//   overflow: hidden;
//   height: 0px;
// }

// .nav-btn {
//   height: 47px;
//   position: absolute;
//   width: 26px;
//   cursor: pointer;
//   top: 30% !important;
// }

// .owl-carousel .owl-prev.disabled,
// .owl-carousel .owl-next.disabled {
//   pointer-events: none;
//   opacity: 0.2;
// }

// .prev-slide:hover {
//   background-position: 0px -53px;
// }
 
// .next-slide:hover {
//   background-position: -24px -53px;
// }