.img-form {
    position     : relative;
    height       : 18rem;
    width        : auto !important;
    margin-left  : auto;
    margin-right : auto;
    margin-top   : 10px;
    margin-bottom: 10px;
}