<!-- <main> -->
  <section class="section mt-5 pb-5 mrx">
    <!-- Table  -->
    <div class="table-responsive">
      <table class="table product-table table-cart-v-1">
        <!-- Table head -->
      <thead>
        <tr>
          <th></th>
          <th class="font-weight-bold"><strong>Producto</strong></th>
          <th class="font-weight-bold"><strong>Tipo</strong></th>
          <th class="font-weight-bold"><strong>Precio</strong></th>
          <th class="font-weight-bold"><strong>Cantidad</strong></th>
          <th class="font-weight-bold"><strong>Monto</strong></th>
          <th></th>
        </tr>
      </thead>
      <!-- Table head -->
      
      <!-- Table body -->
      <tbody>
        <tr>
          <td class="width"><img src="../../../assets/img/AceiteUltraPenetrante6030.jpg" class="img-fluid z-depth-0 d-flex mx-auto"></td>
          <td><h5 class="mt-3"><strong>Aceite Penetrante</strong></h5><p class="text-muted">6030</p></td>
          <td>Penetrantes</td>
          <td>120Bs.</td>
          <td class="text-center text-md-left">
            <!-- <div class="btn-group radio-group ml-2" data-toggle="buttons">
              <label class="btn btn-sm btn-primary btn-rounded">
                <input type="radio" name="options" id="option1">&mdash;
              </label>
              <label class="btn btn-sm btn-primary btn-rounded">
                <input type="radio" name="options" id="option2">+
              </label>
            </div> -->
            <input type="number" value="2" min="1" aria-label="Search" class="form-control" style="width: 100px">
          </td>
            <td class="font-weight-bold"><strong>120Bs.</strong></td>
            <td><button type="button" class="btn btn-sm btn-primary" data-toggle="tooltip" data-placement="top"
              title="Eliminar Producto">X
            </button></td>
          </tr>
        </tbody>
        <!-- Table body -->
      </table>
      <!-- Table  -->
    </div>
  </section>
  <!-- </main> -->